click==8.0.4
cycler==0.11.0
Flask==2.0.3
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
fonttools==4.30.0
greenlet==1.1.2
itsdangerous==2.1.0
jedi==0.18.1
Jinja2==3.0.3
kiwisolver==1.4.0
MarkupSafe==2.1.0
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
parso==0.8.3
Pillow==9.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
six==1.16.0
SQLAlchemy==1.4.31
Werkzeug==2.0.3
